@model IEnumerable<WebApplication1.Models.Track>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist — @Html.DisplayFor(model => model.FirstOrDefault().Subtitle)</h4>
    <hr />
</div>

<ul>
    @foreach(var item in Model)
    {
        Uri uri = new Uri(item.Uri);
        string videoid = uri.Segments.Last();
    <li class="sgLi"> 
        <div>
            <ul class="item">
                <li>
                    <img src="@item.Coverart" alt="Track Image" width="230" height="230" class="trackImg"/>
                </li>
                <li>
                    <div class="hideblock">
                        <br/>
                        <div>@Html.DisplayFor(modelItem => item.Title) — @Html.DisplayFor(modelItem => item.Subtitle)</div>  
                        <p>@Html.DisplayFor(modelItem => item.Genres)</p>
                        <a asp-action="GetLink" asp-route-id="@videoid" title="Download Link">
                            <img src="https://icon-library.com/images/download-icon-black/download-icon-black-10.jpg" width="25" height="25">
                        </a> 
                        <a asp-action="Edit" asp-route-id="@item.Key" title="Edit">
                            <img src="https://www.seekpng.com/png/full/202-2022672_edit-comments-edit-icon-png-circle.png" width="25" height="25">
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Key" title="Details">
                            <img src="https://www.shareicon.net/data/512x512/2015/11/07/668200_info_512x512.png" width="25" height="25">
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Key" title="Delete">
                            <img src="https://cdn-icons-png.flaticon.com/512/70/70091.png" width="25" height="25">
                        </a>
                        <a asp-action="AddToPlaylist" asp-route-id="@item.Key" title="Add to Playlist">
                            <img src="https://static.thenounproject.com/png/1676791-200.png" width="25" height="25">
                        </a>
                    </div>
                    <img src="https://cyrilmagic.com/wp-content/uploads/2020/05/PLAY-BUTTON-WHITE.png" class="button" loading="lazy">
                    <iframe loading="lazy" title="Music audio" width="350" height="170" src="@item.Uri?modestbranding=1&showinfo=0&fs=0" frameborder="0"></iframe>
                </li>
            </ul>
        </div>
    </li>
    }
</ul>

<div>
    <a asp-action="Artists">Back to List</a>
</div>