@model IEnumerable<WebApplication1.Models.Track>

@{
    ViewData["Title"] = "Artists";
}

<h1>@ViewData["Title"]</h1>

<p>The list of artists with saved songs</p>

<ul class="SG">
    @{
        int i = 0;
    }
    @foreach(var item in Model)
    {
    <li class="sgLi"> 
        <div>
            <ul class="item">
                <li>
                    <img src="@item.Background" alt="Artist Image" width="230" height="230"/>
                </li>
                <li>
                    <div>@Html.DisplayFor(modelItem => item.Subtitle)</div>
                </li>
                <li>
                    @{
                        <p>Tracks count: @Constants.tracksCount[i].ToString()</p>
                        i++;
                    }
                </li>
                <li>
                    <a asp-action="ArtistDetails" asp-route-id="@item.Subtitle" title="Details">
                        <img src="https://www.shareicon.net/data/512x512/2015/11/07/668200_info_512x512.png" width="25" height="25">
                    </a>              
                </li>
            </ul>
        </div>
    </li>
    }
</ul>