@model IEnumerable<WebApplication1.Models.Playlist>

@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>The list of playlists</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul class="SG">
    @foreach(var item in Model)
    {
    <li class="sgLi"> 
        <div>
            <ul class="item">
                <li>
                    <img src="@item.Img" alt="Playlist Image" width="230" height="230" class="playlistImg"/>
                </li>
                <li>
                    <div>@Html.DisplayFor(modelItem => item.Name)</div> 
                    <p>
                        Tracks count: @Html.DisplayFor(modelItem => item.TracksCount)
                    </p>
                </li>
                <li>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                            <img src="https://www.seekpng.com/png/full/202-2022672_edit-comments-edit-icon-png-circle.png" width="25" height="25">
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="Details">
                            <img src="https://www.shareicon.net/data/512x512/2015/11/07/668200_info_512x512.png" width="25" height="25">
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                            <img src="https://cdn-icons-png.flaticon.com/512/70/70091.png" width="25" height="25">
                        </a>               
                </li>
            </ul>
        </div>
    </li>
    }
</ul>
