@model WebApplication1.Models.Track

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Background)            
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Background" alt="Artist Image" width="230" height="230" style="border:3px solid white;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coverart)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Coverart" alt="Track Image" width="230" height="230" style="border:3px solid white;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @{
                var lyrics = Model.Text.Split(".");
                foreach(string l in lyrics)
                {
                    <div>@l.ToString()</div>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footer)
        </dd>     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd class = "col-sm-10">                 
            <iframe style="border:3px solid white;" loading="lazy" title="Music video" width="640" height="360" src="@Model.Uri" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </dd>
    </dl>
</div>
    <br />
<div>
    @{
        var newItem = new Dictionary<string, string>
            {
                {"Key", Model.Key },
                {"Title", Model.Title },
                {"Subtitle", Model.Subtitle },
                {"Background", Model.Background },
                {"Coverart", Model.Coverart },
                {"Genres", Model.Genres },
                {"Text", Model.Text },
                {"Footer", Model.Footer },
                {"Caption", Model.Caption },
                {"Uri", Model.Uri }
            };
    }
    <br />
    <a asp-controller="Tracks" asp-action="Add" asp-all-route-data="newItem">Add</a> | 
    <a asp-controller="Home" asp-action="Search">Back to Search</a>
</div>
